.dndflow {
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
}

.dndflow .reactflow-wrapper {
    height: 100%;
    width: 100%;
}

.dndflow {
    flex-direction: row;
}